<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div class="ui-grid-row">

    <div class="ui-grid-col-2">{{'VEHICLE.ADD_VEHICLE' | translate }} *:</div>

    <div class="ui-grid-col-4">
      <p-dropdown [options]="vehicles" [(ngModel)]="selectedVehicle" placeholder="Select a Vehicle"
                  optionLabel="vin" [showClear]="true"></p-dropdown>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-6">
      <button pButton type="submit" label="Submit" (click)="saveClientData(selectedVehicle)" ></button>
    </div>
    <div class="ui-grid-col-4"></div>
  </div>
</div>
